* {
    font-size: 1.3em;
    padding: 0px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    width: 100px;
    height: 100px;
    margin: 0.1em;
}

ul {
    list-style-type: none;
    padding: 0px;
}